body {
  color: rgb(5, 92, 114)165);
  background-color: rgb(0,0,0);
  background-image: linear-gradient(rgb(4, 70, 87), rgb(0,0,0));
  background-repeat: no-repeat;
}

.vent {
  background-image: url("../img/vent.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.packages {
  /* color: rgb(173, 226, 224); */
}

.seacolor {
  color: rgb(4, 44, 43);
  background-color: rgb(134, 223, 216);
}
 .octo{
  background-image: url("../img/octo.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
 }